.footer {
  background-color: #fffff2;
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  position: relative;
  bottom:0px;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container span,a{
  padding: 1em;
}
.container a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.container i{
  margin-right: 10px;
  font-size: 1.5em;
}

.text-muted {
  color: #6c757d;
  font-size: 0.9rem;
}

@media(max-width:1440px){
  .footer span:nth-child(2){

    padding-right: 140px;
  }
}
