<div class="about-container">
  <div class="about-content">
    <div class="divisoria">
      <div class="about-card">
        <img src="./assets/images/camping.png" alt="Our Passion" class="about-image">
        <div class="about-text">
          <h1 id="photoTitle">Photography</h1>
          <p id="text-foto">Descobri minha paixão pela fotografia em Jasper e, desde então, minha câmera é minha constante companheira de viagem, capturando a essência de cada lugar.</p>
          <img class="small-image"src="./assets/images/moose.jpg" alt="">
          <img class="small-image"src="./assets/images/eagle.jpg" alt="">
        </div>
      </div>
      <div class="about-card">
        <div id="descricaoCamera" class="about-text">
          <h1>Canon Rebel T7 DSLR</h1>
          <ul>
            <li><i class="fa-solid fa-camera"></i>Sensor CMOS APS-C de 24.1 Megapixels</li>
            <li><i class="fa-solid fa-camera"></i>Processador de imagem DIGIC 4+</li>
            <li><i class="fa-solid fa-camera"></i>ISO 100-6400 (expansível a 12800)</li>
            <li><i class="fa-solid fa-camera"></i>Gravação de vídeo em Full HD 1080p</li>
            <li><i class="fa-solid fa-camera"></i>Sistema de autofoco de 9 pontos</li>
            <li><i class="fa-solid fa-camera"></i>Conectividade Wi-Fi com NFC</li>
          </ul>
          <p>A Canon Rebel T7 é a porta de entrada ideal para o mundo da fotografia DSLR, permitindo que entusiastas e profissionais capturem imagens com detalhes ricos e vídeos vibrantes.</p>
        </div>
      </div>
      <div class="learn-more">
        <a href="https://www.loja.canon.com.br/pt/canonbr/eos-rebel-t7plus-ef-s-18-55-is-ii-us?gad_source=1&gclid=Cj0KCQiApOyqBhDlARIsAGfnyMqtdqC_TtvUwlOVTi5OKDwlxU1v5y9gWsBDeFaWYdWJnnRiriLkn-EaAr5mEALw_wcB" class="learn-more-button" target="_blank">Learn More <i class="fa-solid fa-square-arrow-up-right"></i></a>
      </div>
    </div>



    <div class="container2">
      <div class="imagem">
        <img src="./assets/images/camera.png" alt="Camera Canon">
      </div>
      <a class="botao" routerLink="/gallery">
        Veja a minha Galeria<i class="fa-solid fa-square-arrow-up-right"></i>
      </a>
    </div>
  </div>
</div>
