@keyframes spin {
  from {
    transform: rotate(360deg);
}
  to {
    transform: rotate(0deg);
}
}
body {
  background-color: #fffff2;
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
}
.main-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin-left: 50vh;
  margin-right: 5vh;
}
.sobre-tema {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
}
.ball {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: spin 5s linear infinite;
  left: 33vh;
  top: -7vh;
  background-color: #fffff2;
}
.text-color {
  fill: #fb0280;
}
svg {
  width: 100%;
  height: 100%;
}
.img {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  margin-right: 50vh;
  height: 61.6%;
  padding-top: 7.9vh;
}
img {
  border-radius: 5%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

@media (max-width: 1440px) {
  body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;/* Center the content horizontally */
  }

  .main-content {
    width: 40%; /* Adjust width as needed */
    margin-left: 210px; /* Center the main content */
    margin-right: 15px; /* Center the main content */
  }

  .sobre-tema {
    height: 60%; /* Adjust height as needed */
    position: relative;
    top:30px;
  }

  .img {
    width: 30%; /* Adjust width of the image container */
    margin-right: auto; /* Adjust margin */
    height: 65%;
  }
  .ball{
    position: relative;
    left: 400px;
    top: -35px;
  }
}

@media(max-width:390px){
  body{
    border:1px solid yellow;
    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
    font-size: 10px;
    margin-bottom:50px;
  }
  .sobre-tema{
    border:1px solid blue;
    height: 50%;
    position: relative;
    left:-140px;
    overflow: hidden;
    font-size: 1.5vw;
    width: 100%;
    margin:60px;
  }
  svg{
    font-size: 4vw;
  }
  .ball{
    width: 90px;
    height: 90px;
    position: relative;
    left: -200px;
    top: -75px;
  }
  img{
    border:1px solid red;
    position:relative;
    top:-160px;
    right: -130px;
  }

  .img{
    width: 51%;
  }
}
