<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Insira o CSS aqui -->
  </head>
  <body>
    <div class="main-content">
      <div class="sobre">
        <p>
          Olá! Me chamo <strong>Matheus!</strong> Sou fotógrafo e programador,<br> sempre em busca de novas descobertas.<br><br>Cada foto que tiro combina técnica e amor, capturando momentos breves mas significativos.<br><br> Estou no início, mas ansioso para aprender mais e melhorar.<br>Adoro compartilhar o que vejo e viver novas experiências.<br><br> Quer fazer algo juntos? Clique no botão abaixo e vamos conversar.<br>Vamos criar recordações incríveis!
        </p>
            <a routerLink="/"><img class="lightroom-logo"src="assets/images/lightroom.png" alt=""></a>
            <a routerLink="/programming"><img class="angular-logo"src="assets/images/angular.png" alt=""></a>
        <div class="botao-contacto">
          <a routerLink="/contact">Clique Aqui</a>
        </div>
      </div>
      <div class="imagem">
        <img src="assets/images/matheus.png" alt="Matheus" />
      </div>
    </div>
  </body>
</html>
