<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Insira o CSS aqui -->
  </head>
  <body>
    <div id="about" class="main-content">
      <div class="sobre-tema">
        <h1>About me</h1>
        <strong>A dedicated Front-end Developer based in Sao Paulo, Brazil</strong>
        <p>
          Olá, sou Matheus, um brasileiro apaixonado por programação front-end, fotografia e viagens. Na tecnologia, foco em desenvolver interfaces de usuário eficientes e visualmente atraentes. Fora do trabalho, adoro explorar novos lugares e capturar momentos com minha câmera. Valorizo o aprendizado contínuo e acredito que novas experiências e pessoas enriquecem meu crescimento pessoal e profissional. Sou habilidoso em me adaptar rapidamente a equipes, trazendo criatividade e colaboração. Estou sempre aberto a novos desafios e a conectar-me com pessoas de diferentes culturas, pois vejo na diversidade uma fonte de inovação e crescimento.
        </p>
      </div>

      <div class="ball">
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <!-- Invisible circle to define the path -->
            <path id="curvePath" d="M10,50 a40,40 0 1,0 80,0 a40,40 0 1,0 -80,0" fill="none" />
            <!-- Text along the path -->
            <text>
                <textPath xlink:href="#curvePath" startOffset="0%" class="text-color">
                    FRONT-END WEB DEVELOPER
                </textPath>
            </text>
        </svg>
    </div>
      </div>


    <div class="img">
      <img src="/assets/images/mid-scale2x-skydiving.png" alt="">
    </div>
  </body>
</html>
