<nav *ngIf="showNavbar" class="navbar">
  <div class="container">
    <a routerLink="/" class="navbar-brand">
      <p>Matheus.dev</p>
    </a>
    <div class="nav-burguer">
      <button class="burger-menu" (click)="toggleMenu()">☰</button>
        <ul [class.active]="showMenu">
            <li><a (click)="scrollToSection('home')">Home</a></li>
            <li><a (click)="scrollToSection('about')">Sobre</a></li>
            <li><a (click)="scrollToSection('new-gallery')">Gallery</a></li>
            <li><a (click)="scrollToSection('contact')">Contato</a></li>
        </ul>
    </div>
    <ul class="navbar-nav" [class.show]="showMenu">
      <li class="nav-item">
        <a class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a  (click)="scrollToSection('about')" class="nav-link" >Sobre</a>
      </li>
      <li class="nav-item">
        <a (click)="scrollToSection('new-gallery')" class="nav-link">Gallery</a>
      </li>
      <li class="nav-item">
        <a (click)="scrollToSection('contact')" id="btn-contacto"  class="nav-link">Contato</a>
      </li>
    </ul>
  </div>
</nav>

