/* setup.component.css */
/* programming.component.css */
.setup-container {
  max-width: 680px; /* Adjust the width as needed */
  margin:auto; /* Center the container on the page */
  padding: 20px;
  border-radius: 10px; /* Rounded corners for the setup container */
  background: rgba(255, 255, 255, 0.1); /* Fundo branco com transparência */
  backdrop-filter: blur(10px); /* Efeito de desfoque no fundo */
  -webkit-backdrop-filter: blur(10px); /* Efeito de desfoque para Safari */
  border-radius: 10px; /* Bordas arredondadas */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Borda sutil */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.setup-item {
  display: flex; /* Aligns child elements (img and div) in a row */
  align-items: center; /* Centers items along the cross axis */
  margin-bottom: 20px; /* Adds space between setup items */
  padding: 10px;
  background: #d9bda5; /* Slightly different background for each item */
  border-radius: 8px; /* Rounded corners for each item */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Subtle shadow for each item */
}

.setup-item:last-child {
  margin-bottom: 0; /* Removes the margin from the last item for consistency */
}

.setup-item img {
  width: 100px; /* Fixed width for the setup image */
  height: auto; /* Maintain aspect ratio */
  margin-right: 15px; /* Space between the image and the text content */
  border-radius: 5px; /* Optionally round the corners of the image */
}

.setup-item div {
  flex-grow: 1; /* Allows the text content to fill the remaining space */
}

.setup-item h3 {
  font-size: 1.1em; /* Font size for the title */
  margin-bottom: 0.5em; /* Space between the title and the description */
}

.setup-item p {
  margin: 0; /* No additional margin for the paragraph */
  font-size: 0.9em; /* Slightly smaller font size for the description */
  color: #555; /* Dark grey color for the text for better readability */
}

@media (max-width: 768px) {
  .setup-container {
    max-width: 100%; /* Full width on smaller screens */
    margin: 20px;


  }

  .setup-item {
    flex-direction: column; /* Stack the image and text content on top of each other */
    align-items: flex-start; /* Aligns items to the start of the flex container */

  }

  .setup-item img {
    width: auto; /* Allows the image to scale proportionally */
    max-width: 100%; /* Ensures the image is not wider than the container */
    margin-bottom: 10px; /* Adds space between the image and the text content */

  }
}
