@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  background-color: #fffff2;
  font-family: 'Nunito', sans-serif;

}
.lens{
  display:flex;
  padding-top: 15vh;
}


.circle-container {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-image: url('/assets/images/matheus.png');
  background-size: 150%; /* Increase the size of the image */
  background-position: center;
  animation: rotateCircle 10s linear infinite;
  border: 2px solid black;
  margin-top: 1vh;
  margin-left: 10vh;
}


@keyframes rotateCircle {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



@keyframes swing {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(10deg); }
  30% { transform: rotate(-10deg); }
  50% { transform: rotate(10deg); }
  70% { transform: rotate(-10deg); }
  90% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

.swing-link:hover{
  display: inline-block;
  animation: swing 1s ease-in-out;
}

.para{
  display:flex;
  justify-content:center;
  text-align:left;
  flex-direction: column;
  padding-left: 25em;
}

.para p{
  font-size: 5em;
  font-family: 'Nunito', sans-serif;
  margin: 10px;
}

.para .bigger{
  font-size:4em;
  width: 100%;
}
.para .smaller{
  font-size: 1em;
}

.dev-links{
  display: flex;
  justify-content:space-between;
  width: 12%;
  margin-left: 10px;
  margin-top: 10px;
}

.dev-links a{
  color: black;
  font-size: 2em;
}

@media (max-width: 1440px) {
  .para p {
    font-size: 4vw;
  }

  img {
    padding-top: 3vw;
    padding-right: 3vw;
  }

  .para {
    padding-left: 5vw;
  }
}
