@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  background-color: #fffff2;
  font-family: 'Nunito', sans-serif;
  height: 100vh;
}
.container{
  display:flex;
  justify-content: center;
  padding-top: 15vh;
  flex-direction: column;
  margin-left: 155px;
}

.wrap{
  display:flex;
  flex: row;
  justify-content: center;
}

.paragraph .bigger i{
  font-size: 40px;
}
.circle-container {
  width: 550px;
  height: 450px;
  border-radius: 50%;
  position: relative;
  background-size: 150%; /* Increase the size of the image */
  background-position: center;
  margin-top: 1vh;
  margin-left: 10vh;
  z-index: 10;
  border: 1px solid blue;
}

.conatiner-2{
  display: flex;
  justify-content: center;
  width: 30%;
}

.conatiner-2 svg{
  width: 100%;
  overflow: visible;
  margin-left: 100px;
}
.imagem-matheus{
  width: 45vh; /* ou um valor específico em pixels */
  height: 45vh; /* mesmo valor que a largura para manter a proporção */
  position: relative;
  top: -110px;
  left: -300px;
  z-index: 10;
  display:flex;
  border-radius: 20%;
  object-fit: cover; /* Mantém a proporção e cobre o espaço */
}


@keyframes swing {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(10deg); }
  30% { transform: rotate(-10deg); }
  50% { transform: rotate(10deg); }
  70% { transform: rotate(-10deg); }
  90% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

.swing-link:hover{
  display: inline-block;
  animation: swing 1s ease-in-out;
}

.paragraph{
  display:flex;
  justify-content:center;
  text-align:left;
  flex-direction: column;
}

.paragraph p{
  font-size: 5em;
  font-family: 'Nunito', sans-serif;
  margin: 10px;
}

.paragraph .bigger{
  font-size:4em;
  width: 100%;
}
.paragraph .smaller{
  font-size: 1em;
}

.dev-links{
  display: flex;
  justify-content:space-between;
  width: 12%;
  margin-left: 10px;
  margin-top: 10px;
}

.dev-links a{
  color: black;
  font-size: 2em;
}

.tech-container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 64.5%;
  padding-bottom: 20vh;
}

.tech-container p{
  padding-top: 0.5em;
}

.skill-set{
  border-radius: 5px; /* Optional: for rounded corners */
  width: 50px;
  height: 50px;
  font-size: 2em;
  display:flex;
  justify-content: center;
  padding-top: 0.5em;
}

.blob{
  background-image: url(/assets/images/matheus-cara.png);
  width: 380px;
  height: 380px;
  background-size: cover;
  background-color:rgb(251, 2, 128);
  background-position: center -290px;
  margin:20px;
  box-shadow: 0 5px 5px 5px rgba(13, 110, 253,0.4);
  animation: animate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
  border: 1px solid red;

}
.blob img{
  position: relative;
  top: -100px;
}

@keyframes animate{
  0%, 100%{
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50%{
    border-radius: 30% 60% 70% 40%/ 50% 60% 30% 60%;
  }
}

@media (max-width: 1440px) {
  .paragraph p {
    font-size: 4vw;

  }

  img {
    padding-top: 3vw;
    padding-right: 3vw;

  }

  .paragraph {
    padding-left: 5vw;
  }
}


@media (max-width: 1440px) {
  /* Ajustes para elementos que precisam ser redimensionados ou reorganizados */

  .container {
    margin-left: auto; /* Centraliza o container */
    padding-top: 10vh;
  }

  .wrap {
    flex-direction: row;/* Organiza os elementos em coluna */
  }
  .dev-links{

    display:flex;
    justify-content: flex-start;
  }
  .dev-links a:nth-child(1){
    margin-right: 5px;
  }
  .circle-container {
    width: 400px; /* Reduz o tamanho */
    height: 400px; /* Mantém a proporção */

  }

  .conatiner-2 {
    width: 50%; /* Aumenta a largura */
  }

  .imagem-matheus {
    width: 35vh; /* Reduz o tamanho */
    height: 35vh; /* Mantém a proporção */
    top: -80px; /* Ajusta a posição */
    left: -200px; /* Ajusta a posição */
  }

  .paragraph p {
    font-size: 3em; /* Reduz o tamanho da fonte */
  }

  .dev-links {
    width: 20%; /* Ajusta a largura */
  }

  .tech-container {
    width: 61%; /* Aumenta a largura */
  }
}

@media (max-width: 390px) {
  /* Ajustes para o layout geral */
  .container {
    margin-left: 0;
    display:flex;
    flex-direction:column;
    background-color: #fffff2;
  }

  .wrap, .tech-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .paragraph{
    font-size: 0.8em;
  }
  .paragraph, .dev-links, .conatiner-2 {
    padding: 0;
    margin: 0;
    width: 100%; /* Utiliza toda a largura disponível */
  }

  .dev-links i{
    font-size:5em;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .imagem-matheus, .conatiner-2 svg {
    width: 80%; /* Ajusta o tamanho da imagem */
    height: auto; /* Mantém a proporção */
    margin: 0 auto; /* Centraliza a imagem */
    top: 0;
    left: 0;
  }

  /* Ajustes de tipografia para telas pequenas */
  .paragraph p {
    font-size: 4vw;
  }

  .dev-links a {
    font-size: 5vw;
  }

  /* Ajustes para ícones e links */
  .dev-links {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .tech-container{
    flex-direction: column;
    align-items: center;
  }
  .skill-set {
    width: 15vw; /* Ajusta o tamanho dos ícones */
    height: 15vw; /* Mantém a proporção */
  }
  .bigger{
    position:relative;
    left: -13px;
  }
}
