<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="lens">
    <div class="para">
      <p>
        Capture the Moment.<br>
        See the world<br>
        through my lens and art!
      </p>
    </div>
    <img src="/assets/images/lens.png" alt="">
  </div>
  <div class="redes-sociais">
    <a href="https://vsco.co/matmoura232" target="_blank"><img src="/assets/images/vsco.png" alt="VSCO"></a>
    <a href="https://www.instagram.com/mattpalette/" target="_blank"><img src="/assets/images/insta.png" alt="Instagram"></a>
  </div>
</body>
</html>
